.Hero {
    background: white;
    font-family: Playfair Display;
}

.heroparent {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 90svh; */
    padding-top: 70px;
}

.con1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
    z-index: 1;

}

h1 {
    font-size: 5em;
    color: black;
}

.p1 {
    color: black;
    font-size: 18px;
    font-family: Inter;
}

.con2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.con2 img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    max-width: 100%;
}

.con2 p {
    padding: 0.4em 0.8em;
    color: white;
    background: #37c941;
    border-radius: 20px;
    font-family: Fira sans;
    transform: rotate(-9deg);
}

.btn1 {
    padding: 0.8em 4em;
    margin: 1.5em 0;
    font-weight: 600;
    font-size: 1.3em;
    border-radius: 35px;
    width: auto;
    align-self: center;
    font-family: Fira sans;
    background-color: orange;
    border: none;
    transition: .25s ease-in-out;
}

.count {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 1.05em;
    color: black;
}

.count1 {
    border: 1px dashed black;
    border-radius: 10px;
    margin: 0.1em 0.7em;
    padding: 1px 12px;
}

.count1 p {
    color: grey;
}

.count1 :nth-child(1) {
    font-size: 2em;

}

.count1 :nth-child(2) {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}


@media(max-width: 750px) {
    svg {
        display: none;
    }

    .con2 {
        display: none;
    }

    .con1 {
        display: flex;


    }

    .Hero {
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(rgb(240, 194, 0.6), rgba(255, 253, 245, 0.8)), url('/youghurt11.png');
    }


    .con1 .p1 {
        line-height: 1.3;
        font-size: 1.1em;
        padding-bottom: 1em;
    }

    .count1 :nth-child(2) {
        color: green;
        font-size: 1em;
        font-weight: 700;
    }
}

@media(max-width: 500px) {
    .con1 h1 {
        font-size: 3.2em;
    }

    .con1 .p1 {
        margin-top: 1.5em;
        font-size: 17px;
        font-family: Inter;
        line-height: 1;
    }

    .heroparent {
        margin-left: 10px;
        margin-right: 10px;
    }
    .count1 p {
    color: grey;
    font-size: 16px;
}
.count1 {
    border: 1px dashed black;
    border-radius: 10px;
    margin: 0em 0.5em;
    padding: 1px 7px;
}

}

@media(max-width: 375px) {
    .heroparent{
        padding-top: 70px;
    }
    .con1 h1 {
        font-size: 3.5em;
    }

    .con1 .p1 {
        margin-top: 1.5em;
        font-size: 16px;
        font-family: Inter;
        line-height: 1;
    }
    .btn1 {
    padding: 0.5em 3.4em;
    margin: 1.7em 0;
    font-weight: 600;
    font-size: 1.3em;
    border-radius: 35px;
    width: auto;
    align-self: center;
    font-family: Fira sans,Roboto;
    background-color: orange;
    border: none;
    transition: .25s ease-in-out;
}
.count1 {
    border: 1px dashed black;
    border-radius: 10px;
    margin: 0em 0.5em;
    padding: 1px 3px;
}
.count1 :nth-child(1) {
    font-size: 1.5em;

}
.count1 p {
    color: rgb(92, 92, 92);
    font-size: 15px;
}

    
}