.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Inter;
    margin: 2em auto;
}
.title .h2{
    padding: 0.5em 2em;
    background-color: #2fa737;
    color: white;
    border-radius: 25px;
    margin-top: 7px;
}
.title p{
    color: black;
}
